

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

.container{
    text-align: center;
  font-size: 16px;
  padding: 20px 30px 20px 30px;
  border-radius: 10px;
  margin: 10% 35%;
  display: flex;
  flex-direction: column;
  border: 1.5px solid;
  border-color: rgb(172, 172, 172);
}
.inputs {
  margin: 10px;
  border-radius: 5px;
  border: 1px solid rgb(233, 233, 233);
  padding: 8px;
  width: 90%;
}
.login-btn {
  padding-top: 8px;
  padding-bottom: 8px;
  width: 97%;
}
.register-btn {
  margin: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 35%;
}
