.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    padding-top: 10px;
    background-color:#fff;
}
.img{
    display: inline;
    width: 100px;
    margin: auto 15px;
    height: 50px;
}
.btn{
margin: auto 15px;
height: 40px;
width: 110px;
}