.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:80px;
    padding-top: 10px;
    background-color:#fff;
}
.img{
    display: inline;
    width: 100px;
    height: 70px;
}

.btn-row{
    display: flex;
    flex-direction: row;
}
.btn{
margin: auto 15px;
height: 40px;
width: 110px;

}